{% extends "events/base.html" %}
{% load i18n %}

{% block head %}
    <!-- {{ wizard.form.media }} -->
    <!-- Note: Seems useless -->
{% endblock %}

{% block content %}

    <p>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</p>
    <form action="" method="post">{% csrf_token %}
        {% if wizard.steps.current != wizard.steps.last %}
            <table>
                {{ wizard.management_form }}
                {% if wizard.form.forms %}
                    {{ wizard.form.management_form }}
                    {% for form in wizard.form.forms %}
                        {{ form.as_table }}
                    {% endfor %}
                {% else %}
                    {{ wizard.form }}
                {% endif %}
            </table>
        {% else %}
            <h1>Preview</h1>
            <table>
                {{ wizard.management_form }}
                {% for field, value in preview.items %}
                <tr>
                    <th>{{ field }}:</th>
                    <td>{{ value }}</td>
                </tr>
                {% endfor %}
            </table>
        {% endif %}

        {% if wizard.steps.prev %}
            <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.first }}">{% translate "first step" %}</button>
            <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">{% translate "prev step" %}</button>
        {% endif %}

        <input type="submit" value="{% translate " submit" %}" />
    </form>

{% endblock %}