{% extends "events/base.html" %}

{% block content %}

<center>
    <h1>Home</h1>

    <h2>Welcome!</h2>

    <p>The features in this projects are sometimes unrelated. They just exist to try out features</p>
</center>

<p>
    <strong>Note: to see / use some features, you need to be logged in, preferably as an Admin</strong>
    <i>Comment: the website is ugly, I only focused on features</i>
</p>

<p>Related pages are and their purpose:</p>

<div class="card">
    <div class="card-header"><strong>Calendar</strong></div>
    <div class="card-body">
        <p class="card-text">
            <ul>
                <li>Current Month: displays a calendar for the Current Month</li>
                <li>March 2021: displays a calendar for March 2021; play with url to display other months and years</li>
            </ul>
        </p>
    </div>
</div>

<br/>

<div class="card">
    <div class="card-header"><strong>Events, Venues and Downloads</strong></div>
    <div class="card-body">
        <p class="card-text">
            <ul>
                <li>Events: an Events needs a Venue</li>
                <li>Venues: a Venue can have many events</li>
                <li>Downloads: You can download different file type for the venues list</li>
                <li>Admin Approval: admin only, listing some counts, listing venues and their events, listing events to approve</li>
                <li>Search: You can search venue using the Search on the Navbar</li>
            </ul>
        </p>
    </div>
</div>

<br/>

<div class="card">
    <div class="card-header"><strong>Vanilla Form Preview</strong></div>
    <div class="card-body">
        <p class="card-text">
            <ul>
                <li>Wish: Form with Preview using Django Vanilla - Postsave</li>
            </ul>
        </p>
    </div>
</div>

<br/>

<div class="card">
    <div class="card-header"><strong>Django Formtools Form Preview</strong></div>
    <div class="card-body">
        <p class="card-text">
            <ul>
                <li>Star: Form with Preview using Django Form Tools - Presave</li>
            </ul>
        </p>
    </div>
</div>

<br/>

<div class="card">
    <div class="card-header"><strong>Django Formtools Form Steps</strong></div>
    <div class="card-body">
        <p class="card-text">
            <ul>
                <li>Contact: Form with Steps using Django Form Tools; no save</li>
                <li>Booking: Form with Steps using Django Form Tools + save + update functionality</li>
            </ul>
        </p>
    </div>
</div>

<br/>

<div class="card">
    <div class="card-header"><strong>Login</strong></div>
    <div class="card-body">
        <p class="card-text">
            <ul>
                <li>Register: Registering a new user</li>
                <li>Login: Logging in</li>
                <li>Logout: Logging out</li>
            </ul>
        </p>
    </div>
</div>

{% endblock %}