{% extends "events/base.html" %}

{% block content %}

<center>
    <h1>Events for {{ month }} {{ year }}</h1>

    As of {{ time }}
    <br/><br/>

    {{ cal|safe }}
    <br/><br/>

    <h3>Events this month...</h3>
    {% if event_list %}
        {% for event in event_list %}
            <div class="card">
                <div class="card-header">{{ event }}</div>
                <div class="card-body">
                    <h5 class="card-title">Venue: {{ event.venue }}</h5>
                    <p class="card-text">
                        <ul style="list-style: none;">
                            <li>
                                <strong>Date:</strong> {{ event.event_date }}
                            </li>
                            <li>
                                <strong>Venue:</strong> {{ event.venue }}
                            </li>
                            <li>
                                <strong>Venue Website:</strong> {{ event.venue.web }}
                            </li>
                            <li>
                                <strong>Manager:</strong> {{ event.manager }}
                            </li>
                            <li>
                                <strong>Description:</strong> {{ event.description }}
                            </li>
                            <li>
                                <strong>Attendees:</strong>
                                <ul>
                                {% for user in event.attendees.all %}
                                    <li>{{ user }}</li>
                                {% endfor %}
                                </ul>
                            </li>
                        </ul>
                    </p>
                </div>
        
                {% if user.is_authenticated %}
                    {% if user == event.manager %}
                    <div class="card-footer text-muted">
                        <a href="{% url 'update-event' event.id %}" class="btn btn-outline-secondary btn-sm">Update Event</a>
                        <a href="{% url 'delete-event' event.id %}" class="btn btn-outline-danger btn-sm">Delete Event</a>
                    </div>
                    {% endif %}
                {% endif %}
            </div>
            <br/>
        {% endfor %}
    {% else %}
        Sorry, there are no events this month
    {% endif %}

    <br/><br/><br/><br/>
    Copyright (c) {{ current_year }}
</center>

{% endblock %}