{% extends "events/base.html" %}

{% block content %}

<h1>Reg</h1>
Hello {{reg.name}}, <br/>
your email is {{reg.email}} <br/>
your phone number is {{reg.phoneNumber}} <br/>
your idCard photo is <img src="{{ reg.idCard.url }}" alt="idCard Image" width="480"> <br/>
your registration type is {{reg.regType}} <br/>
your number of tickets is {{reg.ticketNo}} <br/>

<h1>Form</h1>
Hello {{prev.name}}, <br/>
your email is {{prev.email}} <br/>
your phone number is {{prev.phoneNumber}} <br/>
your idCard photo is <img src="{{ prev.idCard.url }}" alt="idCard Image" width="480"> <br/>
your registration type is {{prev.regType}} <br/>
your number of tickets is {{prev.ticketNo}} <br/>

{% endblock %}